body {
    font-family: Arial, sans-serif;
    background-color: #352020;
    color: #6e8ba7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #bd2424;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    background-color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
